*{
    border: 1px solid red;
    box-sizing: border-box;
}
.main{
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
}
.main h2{
    color: white;
}
.containeur_formulaire{
    width: 50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3% 3% 3% 3%;
    background-color: rgb(255, 255, 255);
    gap: 1rem;
}
.containeur_formulaire p{
    margin: 0;
    color: rgb(0, 0, 0);
}
.containeur_formulaire>input{
    width: 100%;
    background-color:rgb(255, 196, 0);
    font-size: 100%;
    font-weight:700;
    padding: 1rem;
}
.info_formulaire{
    width: 100%;
}
.info_formulaire input{
    width: 100%;
}
.error_input p{
    color: rgb(255, 0, 0);
    margin: 0;
    font-size: 75%;
}
.error_input_none{
    display: none;
}