*{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    /* border: 1px solid red; */
}
body{
    margin: 0;
    color: white;
}
main{
    min-height: 200vh;
}
.header{
    position: sticky;
    top: 0;
    padding: 0% 5% 0% 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: rgb(101, 98, 255);
}
.header_pc{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.header_burger{
    display: none;
}
.hero-section{
    background-color: rgb(106, 106, 106);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (max-width: 650px) {
    .header_burger_menu{
        height: 100vh;
        width: 100%;
        border-top: 2px white solid;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(101, 98, 255);
        padding: 0 5% 0 5%;
        top: 100%;
        transform: translateX(0px);
        transition: transform 1s ;
    }
    .none{
        transform: translateX(-100%);
    }
    .header_burger_menu p{
        font-weight: bold;
    }
    .header{
        min-height: 7vh;
        /* padding: 2% 5% 2% 5%; */
        padding: 0;
    }
    .header_pc{
        display: none;
    }
    .header_burger{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        padding: 2% 0 2% 0;
    }
    .header_burger i{
        padding-left: 5%;
        font-size: xx-large;
        z-index: 2;
    }
}